[DEFAULT]
debug = True
log_file = tempest.log
use_stderr = False

[auth]
tempest_roles = TOBEFILLED
use_dynamic_credentials = TOBEFILLED
create_isolated_networks = TOBEFILLED
admin_domain_name = TOBEFILLED
admin_tenant_name = TOBEFILLED
admin_password = TOBEFILLED
admin_username = TOBEFILLED

[compute]
image_ref = TOBEFILLED
image_ref_alt = TOBEFILLED
flavor_ref = TOBEFILLED
flavor_ref_alt = TOBEFILLED
build_timeout = 1800
fixed_network_name = TOBEFILLED
endpoint_type = internalURL
volume_device_name = sdb

[compute-feature-enabled]
pause = false
block_migrate_cinder_iscsi = true
block_migration_for_live_migration = true
resize = true
console_output = false
personality = false
scheduler_available_filters = RetryFilter,AvailabilityZoneFilter,RamFilter,DiskFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter

[dashboard]
login_url = TOBEFILLED
dashboard_url = TOBEFILLED

[identity]
disable_ssl_certificate_validation = true
auth_version = TOBEFILLED
uri_v3 = TOBEFILLED
uri = TOBEFILLED
region = nova

[image]
build_timeout = 600
endpoint_type = internalURL
disk_formats = vmdk,raw,qcow2,vdi,iso,vhd
container_formats = bare,ova

[input-scenario]
ssh_user_regex = [["^.*[Uu]buntu.*$", "ubuntu"]]

[network]
build_timeout = 500
endpoint_type = internalURL

[network-feature-enabled]
api_extensions = binding, dist-router, multi-provider, provider, quotas, external-net, extraroute, router, security-group
ipv6 = false

[object-storage]
endpoint_type = internalURL
operator_role = storage-ops-tempest

[orchestration]
endpoint_type = internalURL
build_timeout = 2400
instance_type = TOBEFILLED

[oslo_concurrency]
lock_path = /tmp/stack/data/tempest

[scenario]
dhcp_client = dhclient

[service_available]
neutron = True
heat = True
swift = False
cinder = True
nova = True
glance = True
ceilometer = false

[validation]
ssh_timeout = 900
image_ssh_user = ubuntu
image_ssh_password = vmware

[volume]
build_timeout = 900
endpoint_type = internalURL
storage_protocol = vmdk
vendor_name = VMware
disk_format = vmdk
volume_size = 5

[volume-feature-enabled]
backup = False
